@import "styles/variaveis";

.menu {
  padding: 20px $padding-horizontal;
}

.header {
    align-items: center;
    justify-content: center;
    background-image: url('/assets/header/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 300px;
    padding: 0 $padding-horizontal;
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}